.story {
    width: 75%;
    margin: 0 auto;
    margin-bottom: 5rem;
    box-shadow: (0 3rem 6rem $color-black .1);
    background-color: rgba($color-white, .6);
    border-radius: 3px;
    padding: 6rem;
    padding-left: 9rem;
    font-size: $default_font_size;
    transform: skewX(-12deg);
    position: relative;

    @include respond(tabletPortrait) {
        width: 100%;
        padding: 4rem;
        padding-left: 7rem;
    }

    @include respond(phone) {
        transform: skew(0);
    }

    &__shape {
        position: relative;
        width: 15rem;
        height: 15rem;
        // background-color: rebeccapurple;
        float: left;//floating is the only way that shape-outside can work. Also has to have height and width.
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%); //define property shape. Shapes itesm around the object that you are trying to establish. In this case, the text will be shaped around the circle.
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        transform: translateX(-3rem) skewX(12deg);
        border-radius: 50%;

        @include respond(phone) {
            transform: translateX(-3rem) skew(0);

            
        }
        @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
            -webkit-clip-path: circle(50% at 50% 50%);
            clip-path: circle(50% at 50% 50%);
            -webkit-shape-outside: circle(50% at 50% 50%);
            shape-outside: circle(50% at 50% 50%);
            height: 15rem;
            width: 15rem;
            overflow: hidden;
            border-radius: none;
        }
    
    }

    &__img {
        height: 100%; //width did not fill the whole space.
        transform: translateX(-4rem) scale(1.4);
        backface-visibility: hidden;
        transition: all .5s;
    }

    &__text {
        transform: skewX(12deg);

        @include respond(phone) {
            transform: skewX(0);
        }
    }

    &__caption {
        position: absolute;
        align-items: center;
        top: 50%;
        left: 55%;
        transform: translate(-50%, 20%);
        color: $color-white;
        text-transform: uppercase;
        font-size: 1.7rem;
        opacity: 0;
        transition: all .5s;
        backface-visibility: hidden;
    }

    &:hover &__caption {
        opacity: 1;
        transform: translate(-50%, -50%);


    }

    &:hover &__img {
        transform: translateX(-4rem) scale(1);
        filter: blur(3px) brightness(80%); //they are what you think they are.

    }
}

