// .about {

// }

.section-about {
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    margin-top: -20vh;

    @include respond(tabletPortrait) {
        padding: 20rem 0;
    }
}

.section-features {
    padding: 20rem 0 0;
    position: relative;
    // height: 140vh;
    background-image: linear-gradient(
        to right bottom, 
        rgba($color-primary-light, .8),
        rgba($color-primary-dark, .8)),
        url(../img/nat-4.jpg);
        background-size: cover;
    transform:skewY(-7deg); //the entirety of the box and its contents will be skewed at this level.
    margin-top: -10rem;

    & > * {// This is known as the direct children feature the. The '>' followed by the '*'. This will affect everything within the parent element. Individual can also be done as well.
        transform: skewY(7deg);
    }

    @include respond(tabletPortrait) {
        margin-top: -5rem;
        padding: 10rem 0 0rem;
    }

}

.section-tours {
    background-color: $color-grey-light-1;
    padding: 25rem 0 10rem 0;
    margin-top: -25vh;

    @include respond(tabletPortrait) {
        padding: 20rem 0 10rem 0;
    }
}

.section-stories {
    position: relative;
    padding: 15rem 0;  

    @include respond(tabletPortrait) {
        padding: 10rem 0;
    }
}

.section-book {
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);

    @include respond(tabletPortrait) {
        padding: 10rem;
    }
}

.book {
    background-image: linear-gradient(105deg, rgba($color-white, .9) 50%, transparent 50%),url(../img/nat-10.jpg);
    //Learned how to use linear-gradient to create a physical solid color gradient/split.
    background-size: cover; //or 100%... same thing.
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .2);

    @include respond(tabletLandscape) {
        background-image: linear-gradient(105deg, rgba($color-white, .9) 50%, transparent 150%),url(../img/nat-10.jpg); 
    }

    &__form {
        width: 50%;
        padding: 6rem;

        @include respond(tabletPortrait) {
            width: 100%;
            margin-bottom: 2rem;
            
        }
        
    }
}